.top-c,
.header-c,
.banner-c,
// .main-c,
.footer-c{
	width: 1200px;
	margin: 0 auto;
}
.top{
	height: 80px;
	background-color: #FFFFFF;

}
.top-c{
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	position: relative;

}
  .top .top-c .logo{
	display: block;
	width: 186px;
	height:80px;
	background: url(../img/logo.png) 
	no-repeat  center;
	margin-left: 60px;   
}
.nav{
     position: absolute;
     top: 0;
     right: 0;

}
 .top-c .nav .nav-item{
 	position: relative;
     float: left;
     width: 64px;
     height:80px;
     text-align: center;
     line-height: 98px;
     font-size: 16px;	
	margin-right: 42px;
	margin-left: 42px;
}
.nav .nav-item a{
	display: block;
	width: 100%;
	height: 100%;
	color: #969696;
}
 .top-c .nav .nav-item.active{
 	margin-right: 42px;

 }
  .top-c .nav .nav-item.mr0{
  	margin-right: 60px;
  }
  .top-c .nav .nav-item .line{
	display: none;
	position: absolute;
	left: 0px;
	bottom: 5px;
	width: 64px;
	height: 1px;
	background-color: #B9AB77;
}
.top-c .nav .nav-item.mr0 .line{
	width: 62px;
	left: auto;
	right: 60;
}
.top-c .nav .nav-item:hover a{
	color: #1D1D1D;
}
.top-c .nav .nav-item:hover .line{
	display: block;
}
.top-c .nav .nav-item.active .line{
	display: block;
}
.main{
	height: 1876px;
	background-color: green ;
}
.main .main-c{
	width: 1200px;
	height: 100%;
	background-color: #FFFFFF;
	margin: 0 auto;
	
}
 .main-c .wedding {
 	position: relative;
	width: 1200px;
	height: 780px;
	background-color: pink;
	margin: 0 auto;
}
 .main-c .wedding .pic-1{
	width: 708px;
	height: 780px;
	margin-left: 0;
	background:  url(../img/w1.png) 
	no-repeat center ;

}
.main-c .wedding .int-item{
	position: absolute;
	width: 416px;
	height: 262px;
	top: 0;
	right:0;
	background-color: blue;
}
